body{
    background-color: black;
}
h1{
    color: white;
    font-size: 60px;
}
.card{
    background-color: #06002e;
    width: 335px;
    height: 535px;
}
h2,p{
    color: white;
}
p{
    outline-color: white;
}
p{
    outline-style: solid;
}
.card2{
    background-color: #06002e;
    width: 335px;
    height: 535px; 
}